# Ignore the .refresh_token.txt file as it is personal for the reddit user
.refresh_token.txt

# Ignore __pycache__
__pycache__/

# Ignore the db
db.json

# Ignore the assets
assets/

dist/

# Etc
outputs/*.mp4
.wakatime-project
polyglot_data
docker-entrypoint.py
