cython
spaw
Pillow
matplotlib
pydub
moviepy
ffmpeg-python
spacy==2.3.5
textblob
praw
tinydb
https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-2.3.0/xx_ent_wiki_sm-2.3.0.tar.gz 
google-cloud-translate==2.0.1
